.blogs-heading{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
.blogs-container{
    padding: 20px;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blogs-main{
    height: 550px;
    width: 400px;
    margin:10px;
    padding:20px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.blogs-main-btn{
    padding: 10px 30px;
    margin: 15px 60px;
    background-color: black;
    color: #ffff;
    font-size: 15px;
    border-radius: 10px;
}
.img-blogs{
    width:100%;
    height: 230px;
    align-items: center;
    
}
p{
    text-align: justify;
}
@media  screen and (max-width: 1000px){
    .blogs-container{
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

}

@media screen and (max-width:450px) {

    .blogs-main{
        width: 100%;
        height: 550px;
    }
    h2{
        font-size: 10px;
    }
    .blogs-main-btn{
        padding: 5px 60px;
        margin:5px 20px;
        background-color: black;
        color: #ffff;
        font-size: 10px;
        text-align: start;
    }
}
@media screen and (max-width:471px) {

    .blogs-main{
        width: 100%;
        height: 600px;
    }
   
}
@media screen and (max-width:390px) {

    .blogs-main{
        width: 100%;
        height: 700px;
    }
   
}