.medical-code-all{
    height:550px;
    width: 1000px;
    display: inline;
    margin:90px;
}
.medical-title{
    text-align: center;
    color:white ;
    background-color:#0a534f;
    font-size: large;
    margin:5px;
    padding-top:5px;
    display:block;
}

.titleone{
    text-align:center;
    margin:10px;
    color: white;
}
.Patientdetails{
    display: block;
    font-size:13px;
    color: white; 
    padding-left: 40px;
    background-color: #3a8f8bc1; /* Lighter Greenish-White */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);   
}
.mainimg{
    width: 150px;
    padding: 10px;
    font-size: 16px;
    display: inline;
   
}
.Patient-problem{
    width: 400px;
    height:30px;
    padding: 8px;
}
.Patient-address{
     height:10px;
    width:60%;
    padding: 8px;
}
.btn-Register{
    background-color: #0a534f;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
}
.btn-next-page{
    background-color: #0a534f;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    margin:50px;

}
@media only screen and (max-width: 600px) {
    .medical-code-all{
        flex-wrap: wrap;
    }
    .btn-next-page{
        flex-wrap: wrap;

    }
    .btn-Register{
        flex-wrap: wrap;
    }

}

    

