.maindental
{
    display: flex;
    flex-direction:column;
    padding:10px;
    border-radius:5px;
    background-color: rgb(239, 243, 243);


}
.info
{
    
    margin:10px;
    padding:10px;
    border-radius: 10px;
    border: solid 1px rgb(190, 17, 17);
    font-size: 10px;

}
.offer
{
    background-color: red;
    display: inline;
    font-size:15px;
}
.opt
{
    color: rgb(245, 248, 248);
    background-color: green;
}


.img
{
    width:180px;