.nav-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}
.nav-container-cards{
    height: 130px;
    width: 230px;
    padding: 20px;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    margin-top: 5px;
    font-size:18px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    
}

.nav-links{
    text-decoration: none;
    color: black;
}
.discount{
    font-size:20px; 
    color:azure;
    background-color: #10847e;
    padding: 5px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
}
.test-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px 40px;
}
.test-container-cards{
    width: 230px;
    height: 320px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid;
    text-align: center;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.test-container-icons{
    height: 100px;
    margin-top: 10px;
}
.test-container-icons-btn{
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 10px;
    color: #ffff;
    font-size: 17px;
    background-color: rgb(0, 0, 0);
}
.test-container-cards-margin{
    margin-bottom: 15px;
}

.lab-container-heading{
    margin: 10px 50px;
    font-size: 25px;
}
.lab-container-view{
    position: relative;
    margin-left: 860px;
}
.lab-container{
   display: flex;
   flex-wrap: wrap;
   margin: 20px 40px;
   justify-content: center;
   gap: 60px;
}
.lab-container-cards{
    width: 220px;
    height: 270px;
    border: 1px solid black;
    border-radius: 5px;
    border: 1px solid;
    background-color: #fff;
    text-align: center;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.lab-container-icon{
    height: 100px;
    margin: 10px;
}
.lab-container-margin{
    margin-bottom: 10px;
}

.package-container-view{
    position: relative;
    margin-left: 800px;

}
.package-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    justify-content: center;
    gap: 60px;
}
.package-container-cards{
    height: 370px;
    width: 250px;
    border: 1px solid;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);

}
.package-container-cards-disc{
    text-align: justify;
    padding: 20px;
}
.information{
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    padding: 20px 90px;
}
@media screen and (max-width:757px) {
    .test-container-cards{
        margin-bottom: 20px;
    }
    .package-container-cards{
        margin-bottom: 20px;
    }
    .lab-container-cards{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:536px) {
    .test-container-cards{
        width: 100%;
    }
    .package-container-cards{
        width: 100%;
    }
    .lab-container-cards{
        width: 100%;
    }
}
@media screen and (max-width:866px) {
    .nav-container{
        gap: 50px;
     }
     .test-container{
        gap: 30px;
    }
}

@media screen and (max-width:420px) {
    .nav-container-cards{
        width: 80%;
        border-radius: 20px;
        height: 100px;
    }
    .nav-container{
        gap: 20px;
     }
     .lab-container{
        gap: 10px;
    }
    .package-container{
       gap: 10px;
    }
}

