.nav-container{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav-container-cards{
    height: 70px;
    width: 200px;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    margin-top: 5px;
    font-size:18px;
}
.nav-container-cards-icons{
    margin: 5px;
    height: 20px;
}
.nav-links{
    text-decoration: none;
    color: black;
}
.discount{
    font-size:20px; 
    color:azure;
    background-color: #10847e;
    padding: 5px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
}
<<<<<<< HEAD
.box2{ 
    background-color: #c2e5ee;
    margin: 20px 0;
    height: 250px;
  
}
.square{
    width: 90%;
    background-color:
    padding: 20px;
    margin: 0 auto;
=======
.test-container{
>>>>>>> 1d422a3677ec2506799e87d8ff8032da14e25232
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px;
}
.test-container-cards{
    width: 220px;
    height: 230px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.test-container-icons{
    height: 40px;
    margin-top: 10px;
}
.test-container-icons-btn{
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 10px;
    color: #ffff;
    font-size: 17px;
    background-color: #0a534f;
}
.test-container-cards-margin{
    margin-bottom: 15px;
}

.lab-container-heading{
    margin: 20px 50px;
}
.lab-container-view{
    position: relative;
    margin-left: 890px;
}
.lab-container{
   display: flex;
   flex-wrap: wrap;
   margin: 30px 40px;
}
.lab-container-cards{
    width: 220px;
    height: 210px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.lab-container-icon{
    height: 60px;
    margin: 10px;
}
.lab-container-margin{
    margin-bottom: 10px;
}

.package-container-view{
    position: relative;
    margin-left: 830px;

}
.package-container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20px;
}
.package-container-cards{
    height: 300px;
    width: 250px;
    border: 1px solid;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);

}
.package-container-cards-disc{
    text-align: justify;
    padding: 20px;
}
.info{
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    padding: 20px 90px;
}