body{
   background-color:white ;
}
.heading{
    width: 100%;
    color: black;
    font-size: 60px;
    text-align: center;
    padding: 80px;
    margin-top: 50px;
    font-family: "Times New Roman", Times, serif;
}
.main-card{
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 20px;
}
.card1{
    height: 430px;
    width: 280px;
    background-color: white;
    display: inline-block;
    margin: 15px;
    box-shadow: 2px 2px 5px 2px black;
    border: 2px solid black;
    border-radius: 10px;
}
.card1 img{
    width: 200px;
    height: 200px;
    margin: 25px 25px 15px 25px;
    
}

.main-heading{
    padding: 0px 70px 0px 40px;
    font-size: 30px;
    color: #0a534f ;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Times New Roman", Times, serif;
}
.info{
    font-size: 20px;
    padding: 0px 20px;
    color: #0a534f ;
}

.price2{
    margin: 15px 0px 3px 20px;
    font-size: 20px;
    text-align: center;
}

span{
    font-size: 19px;
    color: black;
}
.btn2{
    font-size: 15px;
    padding: 5px;
    width: 100px;
    color: white;
    background-color: #0a534f;
    border-radius: 7px;
    margin: 7px 10px 5px 80px;
    box-shadow: 3px 0px 5px 5px black;
}
.btn2:hover {
    box-shadow: 3px 0px 5px 5px black;
  }

